button.menu-button-mobile.m-l-1.btn.btn-primary,
button.menu-button-mobile.m-l-1.btn.btn-primary:hover {
    background-color: transparent !important;
    color: black !important;
    border: none;
    font-size: 1.5rem;
}
.primary-button{
    padding:0.5rem 2rem !important;
    background-color: transparent !important;
    color: inherit !important;
    float: right;
    margin-top: 2rem !important;
}

// ANIMATED BUTTON 
button{
    padding: 13px 20px;
    background: #D7195F;
    border-radius:24px !important;
    border:0;
    color:#fff;
    font-size:1.2em;
    font-family: Arial,Helvetica,sans-serif;
    font-weight:bold;
    cursor:pointer;
    margin:1em 2em;
    text-transform:uppercase;
}

.light{
    background: -moz-linear-gradient(-45deg,  #D7195F 0%, #D7195F 40%, #ffffff 50%, #D7195F 60%, #D7195F 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#D7195F), color-stop(40%,#D7195F), color-stop(50%,#ffffff), color-stop(60%,#D7195F), color-stop(100%,#D7195F));
    background: -webkit-linear-gradient(-45deg,  #D7195F 0%,#D7195F 40%,#ffffff 50%,#D7195F 60%,#D7195F 100%);
    background: -o-linear-gradient(-45deg,  #D7195F 0%,#D7195F 40%,#ffffff 50%,#D7195F 60%,#D7195F 100%);
    background: -ms-linear-gradient(-45deg,  #D7195F 0%,#D7195F 40%,#ffffff 50%,#D7195F 60%,#D7195F 100%);
    background: linear-gradient(135deg,  #D7195F 0%,#D7195F 40%,#ffffff 50%,#D7195F 60%,#D7195F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D7195F', endColorstr='#D7195F',GradientType=1 );
    background-repeat: no-repeat;  
    background-position:0px;
    background-size:300%;  
    }
    
    .light:hover{
      animation:light 1s;
    -webkit-animation:light 1s;
    //  border: 1px solid #D7195F;
    }
    
    @keyframes light {
      0% {
            background-position:-600px; 
      }
      100% { 
            background-position:0px; 
      }
    }
            
    @-webkit-keyframes light {
      0% {
            background-position:-600px; 
      }
      100% { 
            background-position:0px; 
      }
    }
    

 .play-bu{
    padding: 6px 10px;
    border-radius: 50px !important;
 }   